.tabs {
    color: white;
    padding: 10px;
}

.search {
    color: black;
    padding: 10px;
    margin-right: 15px;
    /* transform: translate(-50%, -50%); */
}

.active {
    color: grey;
    padding: 10px;
}

.tabs:hover{
    color: gray;
}

.search:hover {
    animation: rotate 1s linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}